<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'symptome-erfassen' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="form" [formGroup]="form">

        <ion-card class="ion-flex-grow-1">
            <ion-card-header>
                <ion-img class="vh-25" src="assets/images/Coughing_Flatline.svg"></ion-img>
                <ion-card-title class="w-100">{{ 'symptome' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ng-container *ngFor="let item of symptomeCheckboxListe; let i=index">
                        <ion-item>

                            <ion-label class="pt-font-12">{{item.symptom}}</ion-label>
                            <ion-text
                                    class="ion-text-end pt-font-12 pt-bold"
                                    *ngIf="item.checked && (item.value !== this.translateService.instant('symptome-erfassen-page.fieber'))"
                                    [ngClass]="{ptRed: symptomeCheckboxListe[i].number_value >3, ptGreen: symptomeCheckboxListe[i].number_value <3 }">
                                {{symptomeCheckboxListe[i].number_value | symptome | translate}}
                            </ion-text>
                            <ion-text
                                    class="ion-text-end pt-font-12 pt-bold"
                                    *ngIf="item.checked && (item.value === this.translateService.instant('symptome-erfassen-page.fieber'))">
                                {{symptomeCheckboxListe[i].number_value}}° Celsius
                            </ion-text>
                            <ion-checkbox (ionChange)="onSelectionChange($event,i)" [checked]="item.checked" [value]="item.value"
                                          slot="end">
                            </ion-checkbox>
                        </ion-item>

                        <ng-container *ngIf="item.checked && (item.value !== this.translateService.instant('symptome-erfassen-page.fieber'))">
                            <ion-range min="1" max="5" step="1"
                                       [value]="symptomeCheckboxListe[i].number_value"
                                       (ionChange)="onValueChange($event, i)"
                                       pin ticks snaps
                                       class="pt-range-padding"
                            >
                                <ion-icon slot="start" color="secondary" name="happy"></ion-icon>
                                <ion-icon slot="end" color="danger" name="sad"></ion-icon>
                            </ion-range>
                        </ng-container>

                        <ng-container *ngIf="item.checked && (item.value === this.translateService.instant('symptome-erfassen-page.fieber'))">
                            <ion-range min="38" max="41.5" step="0.5"
                                       [value]="symptomeCheckboxListe[i].number_value"
                                       (ionChange)="onValueChange($event, i)"
                                       pin ticks snaps
                                       class="pt-range-padding"
                            >
                                <ion-icon slot="start" size="small" color="danger" name="thermometer"></ion-icon>
                                <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
                            </ion-range>
                        </ng-container>
                    </ng-container>
                </ion-list>
                <ion-textarea
                        class="w-100 ion-border"
                        formControlName="symptomeListe"
                        id="symptomeListe"
                        placeholder="{{ 'symptome-erfassen-page.textarea-placeholder' | translate }}"
                        required
                        type="text">
                </ion-textarea>
                <ion-note id="ion-source">
                    {{ 'symptome-erfassen-page.erklaertext' | translate }}  <a href="https://doi.org/10.1136/bmj.m3026" rel="nofollow noopener" target="_blank">Management of post-acute covid-19 in primary care</a>
                </ion-note>
            </ion-card-content>
        </ion-card>
    </form>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-row>
        <ion-col>
            <ion-button (click)="onSubmit()"
                        *ngIf="form"
                        class="m-0 p-0 h-3 w-100 opacity-80"
                        color="primary"
                        expand="block"
                        fill="clear"
                        size="default"
            >
                <ion-text
                        class="small pt-button-text">{{ 'symptome-erfassen-page.symptome-speichern' | translate }}</ion-text>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
