.month-packer-item button {
  color: black;
}

#ion-source {
  font-size: 10px;
}

.heart-colors-legend
{
  display: flex;
  margin: 20px;
  margin-top: 10px;
  justify-content: space-between;
  &-green{
    color:rgba(119, 156, 106, 1);
  }
  &-yellow{
    color:rgb(227, 170, 57);
  }
  &-red{
    color:rgba(219, 82, 82, 1);
  }
}

