<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'impressum-page.info' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="ion-flex-grow-1">
        <ion-card-header>
            <ion-card-title class="w-100 pl-0">{{ 'impressum-page.app-version' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{version}}
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-flex-grow-1">
        <ion-card-header>
            <ion-card-title class="w-100 pl-0">{{ 'impressum-page.fehler' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ 'impressum-page.bug' | translate }}</p>
            <a href="https://www.bugfeedr.com/-/1277609931/122-2770952d-d170-408e-8673-32964421ce27"
                rel="nofollow noopener" target="_blank">{{ 'impressum-page.ticket' | translate }}</a>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-flex-grow-1">
        <ion-card-header>
            <ion-card-title class="w-100 pl-0">{{ 'impressum-page.meinung' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ 'impressum-page.meinung-text' | translate }}</p>
            <a href="https://forms.office.com/r/Y74DZVX64S" rel="nofollow noopener" target="_blank">{{
                'impressum-page.fragebogen' | translate }}</a>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-flex-grow-1">
        <ion-card-header>
            <ion-card-title class="w-100 pl-0">{{ 'impressum-page.impressum' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Q_PERIOR AG</p>
            <p>Hohlstrasse 614, 8048 Zürich</p>
            <p>info@patient-strength.com</p>
            <p>043 250 20 30</p>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-flex-grow-1">
        <ion-card-header>
            <ion-card-title class="w-100 pl-0">{{ 'impressum-page.datenschutz' | translate }} (EN)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <a href="https://storage.patient-strength.ch/privacy/App_Datenschutz.html" rel="nofollow noopener"
                target="_blank">Online Privacy Policy (EN)</a>
            <br />
            <p>Last updated [5. May 2022]</p>
            <br />
            <p>Q-PERIOR AG<br />
                Hasan Tekin<br />
                Hohlstrasse 614<br />
                8048 Zürich</p>
            <p>Telefon: +41 (0)43 250 20 30<br />
                E-Mail: info@q-perior.com<br />
                Webseite: https://www.patient-strength.ch/</p>
            <br />
            <p>Q_PERIOR AG (CHE-105.068.069) respects the privacy of our users. This Privacy Policy explains how we
                collect, use, disclose, and safeguard your information when you visit our mobile applications. Please
                read
                this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE
                DO NOT ACCESS THE APPLICATION.
                We don’t reserve the right to make changes to this Privacy Policy at any time and for any reason. We
                believe that medical data shall be only accessible by the user, and medical stuff, and not a private
                company.
                This Privacy Policy does not apply to the third-party online/mobile store from which you install the
                Application or make payments, which may also collect and use data about you. We are not responsible
                for any of the data collected by any such third party</p>
            <br />
            <h2>COLLECTION OF YOUR INFORMATION</h2>
            <br />
            <p>We don’t collect information about you. The App is used to store medical information only on your local
                device. We are aware that such data is highly sensitive. That’s why we don’t intend to store any
                personal,
                medical, financial, social network, geo-location or derivative data in any cloud service. The app is
                designed
                to store this data only on your device.</p>
            <h3>Data is completely disclosed</h3>
            <p>We provide an export function for data, but the user is in full control of this data, and if or how the
                user
                wants to export the data.</p>
            <h3>Mobile Device Access </h3>
            <p>We may request access or permission to certain features from your mobile device, including your mobile
                device’s sensors, SMS messages, e-mail messages and other features. If you wish to change our access or
                permissions, you may do so in you device’s settings.</p>
            <br />
            <h2>USE OF YOUR INFORMATION</h2>
            <br />
            <p>We do not intend to use the information on your device for any purpose. </p>
            <br />
            <h2>DISCLOSURE OF YOUR INFORMATION</h2>
            <br />
            <p>We don’t have any access to your locally stored data. So we cannot disclose any information. </p>
            <br />
            <h2>TRACKING TECHNOLOGIES</h2>
            <br />
            <p>We don’t use any tracking technology (Cookies, analytics, … ). </p>
            <br />
            <h2>IMAGES</h2>
            <br />
            <p>The images come from the pixabay website.</p>
            <br />
            <h2>THIRD-PARTY WEBSITES</h2>
            <br />
            <p>The Application may contain links to third-party websites and applications of interest, including
                advertisements and external services. Once you have used these links to leave the Application, any
                information you provide to these third parties is not covered by this Privacy Policy, and we cannot
                guarantee the safety and privacy of your information. Before visiting and providing any information to
                any
                third-party websites, you should inform yourself of the privacy policies and practices (if any) of the
                third
                party responsible for that website, and should take those steps necessary to, in your discretion,
                protect
                the privacy of your information. We are not responsible for the content or privacy and security
                practices
                and policies of any third parties, including other sites, services or applications that may be linked to
                or
                from the Application.</p>
            <br />
            <h2>SECURITY OF YOUR INFORMATION</h2>
            <br />
            <p>We use administrative, technical, and physical security measures to help protect your personal
                information. While we have taken reasonable steps to secure the personal information you provide to
                us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no
                method of data transmission can be guaranteed against any interception or other type of misuse. Any
                information disclosed online is vulnerable to interception and misuse by unauthorized parties.
                Therefore,
                we cannot guarantee complete security if you provide personal information.</p>
            <br />
            <h3>COVID-19 related limited use of data</h3>
            <br />
            <p>This was application was created to support COVID-19 related efforts. With this application you can track
                you daily symptoms and more.
                All data is only stored in the phone storage. So all COVID-19 related data stays on the phone and is
                lost forever if the phone gets destroyed.
                However, an export is possible in order to send it manually to your doctor. Only in this case COVID-19
                related data leaves the phone and only if it is manually triggered by yourself.
                We can't see any of your data and also can't give support if your data is lost.
            </p>
            <br />
            <h2>CONTACT US</h2>
            <br />
            <p>If you have questions or comments about this Privacy Policy, please contact us at:<br />
                Q-PERIOR AG – PatientStrength<br />
                Hohlstrasse 614<br />
                8048 Zürich<br />
                Phone: +41 (0)43 250 20 30<br />
                E-Mail: info@patient-strength.ch<br />
                Webseite: https://www.patient-strength.ch/</p>
            <br />
        </ion-card-content>
    </ion-card>

</ion-content>
