<ion-header>
  <ion-toolbar>
    <ion-img class="ml-2" id="ion-logo" slot="start" src="/assets/images/patient-strength_logo.png"></ion-img>
    <ion-title *ngIf="deviceInfo.os === 'Android'" class="ion-padding-right-0" mode=ios>{{ "more" |
      translate }}</ion-title>
    <ion-title *ngIf="deviceInfo.os === 'iOS'" mode=ios>{{ "more" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="more-content">
  <ion-nav>
    <ion-item button routerLink="/knowledge">
      <ion-icon class="icon-left" slot="start" size="large" name="book-outline"></ion-icon>
      <ion-label>
        <p class="nav-option">{{ 'wissen' | translate }}</p>
      </ion-label>
      <ion-icon *ngIf="deviceInfo.os !== 'iOS'" class="icon-right" slot="end" size="large" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item button routerLink="/einstellungen">
      <ion-icon class="icon-left" slot="start" size="large" name="settings-sharp"></ion-icon>
      <ion-label>
        <p class="nav-option">{{'einstellungen.titel' | translate }}</p>
      </ion-label>
      <ion-icon *ngIf="deviceInfo.os !== 'iOS'" class="icon-right" slot="end" size="large" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item button routerLink="/impressum">
      <ion-icon class="icon-left" slot="start" size="large" name="information-circle-outline"></ion-icon>
      <ion-label>
        <p class="nav-option">{{ 'impressum-page.info' | translate }}</p>
      </ion-label>
      <ion-icon *ngIf="deviceInfo.os !== 'iOS'" class="icon-right" slot="end" size="large" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-nav>
</ion-content>
