@import "src/theme/variables";
@import "src/theme/fonts";
@import "src/theme/mixins";

/*--------------------------------------------------------------
# BASICS
--------------------------------------------------------------*/

/* Font
--------------------------------------------- */

/* Solves the following problem: SCSS "Module not found: Error: Can't resolve" for @font-face url with relative path */
@include fonts-loader(
  $nunito-black-path-truetype,
  $nunito-black-italic-path-truetype,
  $nunito-extra-bold-path-truetype,
  $nunito-extra-bold-italic-path-truetype,
  $nunito-bold-path-truetype,
  $nunito-bold-italic-path-truetype,
  $nunito-semi-bold-path-truetype,
  $nunito-semi-bold-italic-path-truetype,
  $nunito-regular-path-truetype,
  $nunito-regular-italic-path-truetype,
  $nunito-light-path-truetype,
  $nunito-light-italic-path-truetype,
  $nunito-black-path-woff,
  $nunito-black-italic-path-woff,
  $nunito-extra-bold-path-woff,
  $nunito-extra-bold-italic-path-woff,
  $nunito-bold-path-woff,
  $nunito-bold-italic-path-woff,
  $nunito-semi-bold-path-woff,
  $nunito-semi-bold-italic-path-woff,
  $nunito-regular-path-woff,
  $nunito-regular-italic-path-woff,
  $nunito-light-path-woff,
  $nunito-light-italic-path-woff,
  $nunito-black-path-woff2,
  $nunito-black-italic-path-woff2,
  $nunito-extra-bold-path-woff2,
  $nunito-extra-bold-italic-path-woff2,
  $nunito-bold-path-woff2,
  $nunito-bold-italic-path-woff2,
  $nunito-semi-bold-path-woff2,
  $nunito-semi-bold-italic-path-woff2,
  $nunito-regular-path-woff2,
  $nunito-regular-italic-path-woff2,
  $nunito-light-path-woff2,
  $nunito-light-italic-path-woff2
);

/* FONTS
--------------------------------------------- */

* {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

ion-title {
  font-weight: bold;
}

/* SPACING
--------------------------------------------- */
.ion-alert-grey,
.ion-flex-grow-1 {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.vh-82 {
  height: 82vh;
}

.vh-25 {
  height: 25vh;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-bold {
  font-weight: bold;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

/* SIZING
--------------------------------------------- */

#ion-logo {
  height: 50px;
  width: 50px;
}

.ion-font-20 {
  font-size: 20px;
}

/* COLOR
--------------------------------------------- */

body,
html {
  background: white;
}

.opacity-80 {
  opacity: 0.8;
}

.pt-primary-text {
  color: $pt-primary-color;
}

.pt-secondary-text {
  color: $pt-secondary-color;
}

.pt-gradient,
ion-content {
  background: $pt-primary-secondary-gradient !important;
  --background: $pt-primary-secondary-gradient !important;
}

.ion-border {
  border: solid #999 1px;
  border-radius: 3px;
  padding: 0.5rem;
}

.ion-background-white {
  background: white;
}

ion-toolbar {
  background-color: white !important;
}

ion-footer {
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.ion-icon {
  --ionicon-stroke-width: 50px;
}

.ion-vertical-align-middle {
  vertical-align: middle;
}

.pt-button-text {
  font-weight: 800;
  color: #009bc8;
}

.pt-bold {
  font-weight: 800;
}

.ion-alert-red {
  color: var(--ion-color-danger) !important;
}

.ion-alert-grey {
  color: var(--ion-color-medium) !important;
}

.ion-alert-primary {
  color: var(--ion-color-primary) !important;
}

.ptRed {
  color: var(--ion-color-danger) !important;
}

.ptGreen {
  color: $pt-secondary-color !important;
}
.pt-font-12 {
  font-size: 12px !important;
}

.pt-note {
  font-size: 10px;
  color: lightgray;
  line-height: 1 !important;
}

.month-packer-item button {
  color: black;
}

.sc-ion-alert-md-h {
  --min-width: 94%;
}

.alert-radio-label.sc-ion-alert-md {
  font-size: 12px;
}

/* TOASTS
--------------------------------------------- */

.toast-success,
.toast-error {
  transform: translateY(-52px);
}

/* ANIMATIONS
--------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
