<ion-header>
  <ion-toolbar>
    <ion-img class="ml-2" id="ion-logo" slot="start" src="/assets/images/patient-strength_logo.png"></ion-img>
    <ion-title *ngIf="deviceInfo.os === 'Android'"  class="ion-padding-right-0" mode=ios>{{ "wissen" |
      translate }}</ion-title>
    <ion-title *ngIf="deviceInfo.os === 'iOS'" mode=ios>{{ "wissen" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="article-list" *ngIf="articles">
    <div class="article-list-card" *ngFor="let article of articles; index as id" routerLink="/wissen/{{ id }}">
      <div class="article-list-text">
        <h3>{{ article.title }}</h3>
        <p>{{ article.articleText }}</p>
      </div>
      <figure class="article-list-figure">
        <img src="{{ article.image }}" alt="{{ article.title }}">
      </figure>
    </div>
  </div>
</ion-content>
