.article-list {
    & * {
        box-sizing: border-box;
    }
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 12px auto 12px auto;

    &-text {
        width: calc(100% - 150px);
        padding: 0 14px 0 20px;
        h3 {
            font-size: 16px;
            margin: 14px 0;
        }
        p {
            font-size: 13px;
            margin: 0;
            color: var(--ion-color-medium);
        }
    }

    &-card {
        margin: 0 0 22px 0;
        overflow: hidden;
        height: 150px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        box-shadow: 0 3px 6px #00000029;
    }

    &-figure {
        height: 150px;
        min-width: 150px;
        max-width: 150px;
        margin: 0;
        padding: 0;
        img {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            height: 100%;
        }
    }
}

@media screen and (max-width: 335px) {
    .article-list {
        width: 96%;

        &-text {
            h3 {
                font-size: 14px;
                hyphens: auto;
            }
            p {
                font-size: 12px;
                hyphens: auto;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .article-list {
        &-card {
            height: 180px;
        }

        &-text {
            width: calc(100% - 130px);
        }

        &-figure {
            height: 180px;
            min-width: 130px;
            max-width: 130px;
        }
    }
}

@media screen and (min-width: 400px) {
    .article-list {
        margin: 14px auto 14px auto;

        &-text {
            padding: 0 28px 0 22px;
            h3 {
                font-size: 17px;
                margin: 16px 0;
            }
            p {
                font-size: 14px;
                margin: 0;
                color: var(--ion-color-medium);
            }
        }
        &-card {
            margin: 0 0 24px 0;
        }
    }
}
