<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'article.article' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="ion-flex-grow-1">
        <ion-card-header>
          <div class="article-image__container">
            <img alt="{{article.title}}" class="vh-25 article-image" src="{{article.image}}">
          </div>
          <ion-card-title class="article-title w-100">{{ article.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="article-content" >{{article.articleText}}</div>
          <span></span>
          <div class="article-source" >{{ 'article.source' | translate }}: <a href="{{article.source_link}}">{{article.source}}</a></div>
          <div *ngIf="article.source_2">
            <span></span>
            <div class="article-source" >{{ 'article.source' | translate }}: <a href="{{article.source_2_link}}">{{article.source_2}}</a></div>
          </div>
          <div class="article-date" >{{ 'article.date' | translate }}: {{article.date}}</div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
      <ion-col>
          <ion-button (click)="openStoreLink()"
                      class="m-0 p-0 h-3 w-100 opacity-80"
                      color="primary"
                      expand="block"
                      fill="clear"
                      size="default"
          >
              <ion-text class="small pt-button-text">{{ buttonText }}</ion-text>
          </ion-button>
      </ion-col>
  </ion-row>
</ion-footer>
