<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'health-data-page.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="isAuthorized$ | async" [ngIfElse]="noData">
    <ion-card class="daily-goals">
      <h4>
        {{ 'health-data-page.daily-goals' | translate }}
      </h4>
      <div class="daily-goals-item">
        <figure>
          <img src="../../../assets/icon/pt/PT-Icons-steps.svg" alt="heart icon">
        </figure>
        <p>
          {{ 'health-data-page.steps' | translate }}
        </p>
        <div class="daily-goals-bar" id="steps">
          <p class="daily-goals-bar-text">{{ dailySteps+" via " +dailyStepsGoal }}</p>
        </div>
      </div>
      <div class="daily-goals-item">
        <figure>
          <img src="../../../assets/icon/pt/PT-Icons-stairs.svg" alt="heart icon">
        </figure>
        <p>
          {{ 'health-data-page.stages' | translate }}
        </p>
        <div class="daily-goals-bar" id="stages">
          <p class="daily-goals-bar-text">{{ dailyStages }}</p>
        </div>
      </div>
      <div class="daily-goals-item">
        <figure>
          <img src="../../../assets/icon/pt/PT-Icons-distance.svg" alt="heart icon">
        </figure>
        <p>
          {{ 'health-data-page.distance' | translate }}
        </p>
        <div class="daily-goals-bar" id="distance">
          <p class="daily-goals-bar-text">{{ dailyDistance }}</p>
        </div>
      </div>
      <div class="daily-goals-item">
        <figure>
          <img src="../../../assets/icon/pt/PT-Icons-heart.svg" alt="heart icon">
        </figure>
        <p>
          {{ 'health-data-page.heart-rate' | translate }}
        </p>
        <div class="daily-goals-bar" id="heart">
          <p class="daily-goals-bar-text">{{ dailyHeartRate }}</p>
        </div>
      </div>
      <span class="heart-legend">{{'health-data-page.heart-rate-legend' | translate }}</span>
      <div class="heart-colors-legend">
        <div>
          <span class="heart-colors-legend-red">
            <ion-icon name="heart"></ion-icon>
          </span>
          <span> 0-39</span>
        </div>
        <div>
          <span class="heart-colors-legend-green">
            <ion-icon name="heart"></ion-icon>
          </span>
          <span> 40-72</span>
        </div>
        <div>
          <span class="heart-colors-legend-yellow">
            <ion-icon name="heart"></ion-icon>
          </span>
          <span> 73-81</span>
        </div>
        <div>
          <span class="heart-colors-legend-red">
            <ion-icon name="heart"></ion-icon>
          </span>
          <span> 82+</span>
        </div>
      </div>
    </ion-card>
    <ion-card class="heart-rate">
      <h4>
        {{ 'health-data-page.statistics' | translate }}
      </h4>
      <div>
        <figure>
          <img src="../../../assets/icon/pt/PT-Icons-heart.svg" alt="heart icon">
        </figure>
        <p>
          {{ 'health-data-page.heart-rate' | translate }}
        </p>
      </div>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card>
  </ng-template>

  <ng-template #noData>
    <ion-card class="no-data">
      <ion-button *ngIf="deviceInfo.os === 'iOS'" expand="block" color="light" (click)="connectHealthKit()">
        <span class="button-content">
          <span class="button-content-left">
            <figure>
              <img src="../../../assets/icon/health-kit.png" alt="health kit icon">
            </figure>
            {{ 'health-data-page.health-kit-unsigned' | translate }}
          </span>
          <ion-icon name="link-outline" color="primary"></ion-icon>
        </span>
      </ion-button>
      <ion-button *ngIf="deviceInfo.os === 'Android'" expand="block" color="light" (click)="connectGoogleFit()">
        <span class="button-content">
          <span class="button-content-left">
            <figure>
              <img src="../../../assets/icon/google-fit.png" alt="google fit icon">
            </figure>
            {{ 'health-data-page.google-fit-unsigned' | translate }}
          </span>
          <ion-icon name="link-outline" color="primary"></ion-icon>
        </span>
      </ion-button>
    </ion-card>
  </ng-template>


</ion-content>
