.ion-img-icon {
  width: 24px;
  height: 24px;
}

.pt-padding-left-16 {
  padding-left: 16px;
}

.pt-note-block {
  font-size: 10px;
  color: lightgray;
  display: block;
}

.pt-font-16 {
  font-size: 16px;
}

.pt-range-padding {
  padding-top: 0;
  padding-bottom: 30px !important;
}
