<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'tagesform-erfassen' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">

    <ion-card class="ion-flex-grow-1">
      <ion-card-header>
        <ion-img class="vh-25" src="assets/images/Smiley_Flatline.svg"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ng-container>
            <ion-item>
              <ion-label class="pt-font-12">
                {{ 'tagesform-erfassen-page.tagesform' | translate }}
              </ion-label>
              <ion-text class="ion-text-end pt-font-12 pt-bold"
                [ngClass]="{ptRed: tagesformValue >3, ptGreen: tagesformValue <3 }">{{tagesformValue | tagesformPipe
                | translate}}</ion-text>
            </ion-item>
            <ion-text class="pt-note-block pt-padding-left-16">{{ 'tagesform-erfassen-page.tagesform-beschreibung' |
              translate }}</ion-text>
            <ion-range min="1" max="5" step="1" [value]="tagesformValue" formControlName="tagesform"
              (ionChange)="onSelectionChange($event, 'tagesformValue')" pin ticks snaps class="pt-range-padding">
              <ion-icon slot="start" color="secondary" name="happy"></ion-icon>
              <ion-icon slot="end" color="danger" name="sad"></ion-icon>
            </ion-range>
          </ng-container>
          <ng-container>
            <ion-item>
              <ion-label class="pt-font-12">
                {{ 'tagesform-erfassen-page.erschoepfungsart' | translate }}
              </ion-label>
              <ion-text class="ion-text-end pt-font-12 pt-bold">{{erschoepfungsartValue | erschoepfungsartPipe |
                translate}}</ion-text>
            </ion-item>
            <ion-text class="pt-note-block pt-padding-left-16">{{
              'tagesform-erfassen-page.erschoepfungsart-beschreibung' | translate }}</ion-text>
            <ion-range min="1" max="5" step="1" [value]="erschoepfungsartValue" formControlName="erschoepfungsart"
              (ionChange)="onSelectionChange($event, 'erschoepfungsartValue')" pin ticks snaps class="pt-range-padding">
              <ion-img class="ion-img-icon" slot="start" src="assets/icon/brain-solid.svg"></ion-img>
              <ion-img class="ion-img-icon" slot="end" src="assets/icon/hand-paper-solid.svg"></ion-img>
            </ion-range>
          </ng-container>
          <ng-container>
            <ion-item>
              <ion-label class="pt-font-12">
                {{ 'tagesform-erfassen-page.schlaf' | translate }}
              </ion-label>
              <ion-text class="ion-text-end pt-font-12 pt-bold"
                [ngClass]="{ptRed: schlafValue >3, ptGreen: schlafValue <3 }">{{schlafValue | tagesformPipe |
                translate}}</ion-text>
            </ion-item>
            <ion-text class="pt-note-block pt-padding-left-16">{{ 'tagesform-erfassen-page.schlaf-beschreibung' |
              translate }}</ion-text>
            <ion-range min="1" max="5" step="1" [value]="schlafValue" formControlName="schlaf"
              (ionChange)="onSelectionChange($event, 'schlafValue')" pin ticks snaps class="pt-range-padding">
              <ion-icon slot="start" color="secondary" name="happy"></ion-icon>
              <ion-icon slot="end" color="danger" name="sad"></ion-icon>
            </ion-range>
          </ng-container>
          <ng-container>
            <ion-item>
              <ion-label class="pt-font-12">
                {{ 'tagesform-erfassen-page.stimmung' | translate }}
              </ion-label>
              <ion-text class="ion-text-end pt-font-12 pt-bold"
                [ngClass]="{ptRed: stimmungValue >3, ptGreen: stimmungValue <3 }">{{stimmungValue | tagesformPipe |
                translate}}</ion-text>
            </ion-item>
            <ion-text class="pt-note-block pt-padding-left-16">{{ 'tagesform-erfassen-page.stimmung-beschreibung' |
              translate }}</ion-text>
            <ion-range min="1" max="5" step="1" [value]="stimmungValue" formControlName="stimmung"
              (ionChange)="onSelectionChange($event, 'stimmungValue')" pin ticks snaps class="pt-range-padding">
              <ion-icon slot="start" color="secondary" name="happy"></ion-icon>
              <ion-icon slot="end" color="danger" name="sad"></ion-icon>
            </ion-range>
          </ng-container>

        </ion-list>

      </ion-card-content>
    </ion-card>
  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button (click)="onSubmit()" *ngIf="form" class="m-0 p-0 h-3 w-100 opacity-80" color="primary" expand="block"
        fill="clear" size="default">
        <ion-text class="small pt-button-text">{{ 'tagesform-erfassen-page.tagesform-speichern' | translate }}
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>