<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>{{ "dashboard" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tagebuch-timeline">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>{{ "tagebuch" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="keypad"></ion-icon>
      <ion-label>{{ "more" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
