ion-slides {
    height: 100%;
    background-color: white;
  }

  .demo-chart {
    height: 500px;
  }

.heart-rate,
.daily-goals {
    padding: 0 10px 16px 10px;
}
.no-data {
    min-height: 85vh;
    ion-button {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90vw;
        margin: 20px auto 0 auto;
        letter-spacing: 0 !important;
        font-size: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    figure {
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .button-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        ion-icon {
            font-size: 18px;
        }
        &-left {
            width: 100%;
            display: flex;
            align-items: center;
            figure {
                margin-right: 14px;
            }
        }
    }
}

.heart-rate,
.daily-goals {
    padding: 15px;
    figure {
        width: 40px;
        height: 40px;
        margin: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.heart-rate {
    div {
        display: flex;
        p {
            margin: auto 0;
            font-size: 20px;
        }
    }
    figure {
        margin: 0 15px 0 0;
        padding: 0;
    }
}

.daily-goals {
    h4 {
        width: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        box-shadow: 0 0 5px dimgray;
        border-radius: 10px;
        margin: 10px 0;
        p {
            width: 62%;
            font-size: 15px;
            margin: auto 0 auto 2px;
        }
        .daily-goals-bar {
            width: 100%;
            padding: 8px 0;
            border-radius: 0 0 10px 10px;
            &-text {
                color: white;
                width: 100%;
                font-size: 14px;
                text-align: center;
                margin: 0;
            }
        }
    }
}

@media (min-width: 360px) {
    .no-data {
        ion-button {
            font-size: 13px;
        }
    }
    .daily-goals {
        &-item {
            p {
                font-size: 17px;
                margin: auto 0 auto 15px;
            }
        }
    }
}

@media (min-width: 430px) {
    .no-data {
        ion-button {
            font-size: 15px;
        }
        figure {
            width: 40px;
            height: 40px;
        }
    }
    .daily-goals {
        &-item {
            figure {
                margin: 5px 0 5px 10px;
            }
            p {
                font-size: 18px;
                margin: auto 0 auto 18px;
            }
        }
    }
}

.heart-colors-legend
{
  display: flex;
  margin: 0 7px;
  justify-content: space-between;
  &-green{
    color:rgba(119, 156, 106, 1);
  }
  &-yellow{
    color:rgb(227, 170, 57);
  }
  &-red{
    color:rgba(219, 82, 82, 1);
  }
}
.heart-colors-legend > div{
  margin-right: 8px;
}

.heart-legend{
  margin-top: 20px;
  color:gray;
}
