<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppSecret</key>
    <string>734b7a99-ce2b-4586-b5e6-16d3515014f9</string>
      <!-- below are optional -->
      <key>LogLevel</key>
      <integer>2</integer>
      <key>AnalyticsEnableInJs</key>
      <true/>
      <key>AnalyticsTransmissionInterval</key>
      <integer>3</integer>
      <key>CrashesEnableInJs</key>
      <true/>
      <key>CrashesAlwaysSend</key>
      <true/>
</dict>
</plist>
